/*Em CSS os comandos são em letras minúsculas.*/
/*Página de Style que serve para formatar a estrutura do site.*/
body {
    background: #51ff7765; /*#0a43ff93*/
    font: normal 17pt Arial;
    
}
header {
    color: #000000d2; /*Cor das letras.*/
    text-align: center; /*Centraliza o texto.*/
}
section { /*Caixa branca dentro do site.*/
    background: white;
    border-radius: 10px; /*Borda arredondada.*/
    padding: 15px; /*Tamanho da caixa.*/
    width: 500px; /*Largura da caixa.*/
    margin: auto; /*Centraliza tudo.*/
    box-shadow: 5px 5px 10px #000000b0; /*Coloca sombra na caixa.*/  
}
div#res {
    color: #000000d2;
    font: normal 17pt arial;
}
footer {
    color: #000000d2; /*Cor das letras.*/
    text-align: center; /*Centraliza o texto.*/
    font-style: italic;
}